
<!DOCTYPE html>
<html>
<head>
<title>Settings</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Settings</h1>
<form action="{{ url_for('settings') }}" method="POST">
<label for="username">Username:</label>
<input type="text" id="username" name="username">
<br>
<label for="password">Password:</label>
<input type="password" id="password" name="password">
<br>
<label for="profile_image">Profile Image:</label>
<input type="file" id="profile_image" name="profile_image">
<br>
<input type="submit" value="Update">
</form>
</body>
</html>

